#ohsnap {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1000;
}

.axis path, .axis line
{
    fill: none;
    stroke: #777;
    shape-rendering: crispEdges;
}

.axis text
{
    font-family: 'Arial';
    font-size: 13px;
}
.tick
{
    stroke-dasharray: 1, 2;
}

#content {
    background-color: rgba(0, 255, 50, 0.6);
}
