:global(.FlexTable__headerRow) {
    border-top: 1px solid #B7A66E;
    border-bottom: 1px solid #B7A66E;
    padding-right: 0 !important;
}

:global(.Grid.FlexTable__Grid) {
    border-bottom: 1px solid #B7A66E;
}

@media only screen and (max-width: 480px) {

:global(.FlexTable__row) {
    font-size: 0.8em;
}

}
